body {
    color: #000000;
    background-color: #E8E8E8;
    text-align: justify;
    text-indent: 30px;
    font-family: Verdana, sans-serif;
    list-style-position: inside;
    margin: 0px 20% 300px 20%;
    display: block;
}

pre {
  text-indent: 0px;
  display: block;
  font-size: 15px;
}

a:hover, a:active {
  background-color:	#444444;
  color: white;
}

.header {
  background-color: #CFCFCF;
  text-align: center;
  padding: 20px;
}

span {
    color: 	#3A5FCD;
    display: inline;
} 

.center {
  text-align: center;
  font-weight: bold;
}
.end {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-weight: bold;
}
.topnav {
  overflow: hidden;
  background-color: #808080;

}
.topnav a:link, a:visited {
  float: right;
  display: block;
  color: #000;
  text-align: center;
  padding: 10px;
  text-decoration: none;

}
.topnav a:hover, a:active {
  background-color: #444444;
  color: white;
}

h1, h2, h3{
  padding-top: 35px;
  padding-left: 50px;
}

.ex {
  text-align: left;
  font-style: italic;
}

img {
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}

.a {
  color:#000000
}

code {
  font-size: 16px;
}